@model Project_Monthly_08.Models.TravelAgent
@{
    ViewBag.Title = "CreateAgentTourPackage";
}
<h2></h2>
<div class="col-12 px-5">
    <h3 class="mb-1">Create Agent Tour Package</h3>
    @using (Html.BeginForm("CreateAgentTourPackage", "AgentTourPackage"))
    {
        <div class="form-group row mb-1">
            @Html.LabelFor(x => x.AgentName, new { @class = "col-form-label col-form-label-sm col-2" })
            <div class="col-4">
                @Html.TextBoxFor(x => x.AgentName, new { @class = "form-control form-control-sm" })
                @Html.ValidationMessageFor(x => x.AgentName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row mb-1">
            @Html.LabelFor(x => x.Email, new { @class = "col-form-label col-form-label-sm col-2" })
            <div class="col-4">
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-control-sm" })
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row mb-1">
            @Html.LabelFor(x => x.AgentAddress, new { @class = "col-form-label col-form-label-sm col-2" })
            <div class="col-4">
                @Html.TextBoxFor(x => x.AgentAddress, new { @class = "form-control form-control-sm" })
                @Html.ValidationMessageFor(x => x.AgentAddress, "", new { @class = "text-danger" })
            </div>
        </div>  
        <div class="d-flex justify-content-between">
            <h4>Packages</h4>
            <button type="button" id="add" class=" btn btn-primary rounded-circle">+</button>
        </div>
        <div id="child">
            @Html.Action("CreatePackageEntry")
        </div>
        <div class="form-group row mb-1">

            <div class="col-4 offset-2">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    }
</div>
@section scripts {

    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(() => {
            $("#add").click(() => {
                $.ajax({
                    type: "POST",
                    url: "/AgentTourPackage/CreatePackageEntry",
                    success: r => {
                        console.log(r);
                        $("#child").append(r);
                    }
                });
            })
        });
    </script>

}


