@model Project_Monthly_08.Models.TravelAgent
@using (Ajax.BeginForm("EditTravelAgent", "TravelAgents", new { }, new AjaxOptions
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "alert",
    OnSuccess = "onSuccess",
    LoadingElementId = "spinner"
}, new { id = "f" }))
{
    @Html.HiddenFor(x => x.TravelAgentId)
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.AgentName, new { @class = "col-form-label col-form-label-sm col-2" })
        <div class="col-4">
            @Html.TextBoxFor(x => x.AgentName, new { @class = "form-control form-control-sm" })
            @Html.ValidationMessageFor(x => x.AgentName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.Email, new { @class = "col-form-label col-form-label-sm col-2" })
        <div class="col-4">
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control form-control-sm" })
            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row mb-1">
        @Html.LabelFor(x => x.AgentAddress, new { @class = "col-form-label col-form-label-sm col-2" })
        <div class="col-4">
            @Html.TextBoxFor(x => x.AgentAddress, new { @class = "form-control form-control-sm" })
            @Html.ValidationMessageFor(x => x.AgentAddress, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row mb-1">
        <div class="col-4 offset-2">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}


